// ------------------------------------------------------------------
//  Emoji
// ------------------------------------------------------------------

$emoji-list:
+1 +1,
-1 -1,
100 100,
1234 1234,
8ball 8ball,
a a,
ab ab,
abc abc,
abcd abcd,
accept accept,
aerial-tramway aerial_tramway,
airplane airplane,
alarm-clock alarm_clock,
alien alien,
ambulance ambulance,
anchor anchor,
angel angel,
anger anger,
angry angry,
anguished anguished,
ant ant,
apple apple,
aquarius aquarius,
aries aries,
arrow-backward arrow_backward,
arrow-double-down arrow_double_down,
arrow-double-up arrow_double_up,
arrow-down arrow_down,
arrow-down-small arrow_down_small,
arrow-forward arrow_forward,
arrow-heading-down arrow_heading_down,
arrow-heading-up arrow_heading_up,
arrow-left arrow_left,
arrow-lower-left arrow_lower_left,
arrow-lower-right arrow_lower_right,
arrow-right arrow_right,
arrow-right-hook arrow_right_hook,
arrow-up arrow_up,
arrow-up-down arrow_up_down,
arrow-up-small arrow_up_small,
arrow-upper-left arrow_upper_left,
arrow-upper-right arrow_upper_right,
arrows-clockwise arrows_clockwise,
arrows-counterclockwise arrows_counterclockwise,
art art,
articulated-lorry articulated_lorry,
astonished astonished,
athletic-shoe athletic_shoe,
atm atm,
b b,
baby baby,
baby-bottle baby_bottle,
baby-chick baby_chick,
baby-symbol baby_symbol,
back back,
baggage-claim baggage_claim,
balloon balloon,
ballot-box-with-check ballot_box_with_check,
bamboo bamboo,
banana banana,
bangbang bangbang,
bank bank,
bar-chart bar_chart,
barber barber,
baseball baseball,
basketball basketball,
bath bath,
bathtub bathtub,
battery battery,
bear bear,
bee bee,
beer beer,
beers beers,
beetle beetle,
beginner beginner,
bell bell,
bento bento,
bicyclist bicyclist,
bike bike,
bikini bikini,
bird bird,
birthday birthday,
black-circle black_circle,
black-joker black_joker,
black-large-square black_large_square,
black-medium-small-square black_medium_small_square,
black-medium-square black_medium_square,
black-nib black_nib,
black-small-square black_small_square,
black-square-button black_square_button,
blossom blossom,
blowfish blowfish,
blue-book blue_book,
blue-car blue_car,
blue-heart blue_heart,
blush blush,
boar boar,
boat boat,
bomb bomb,
book book,
bookmark bookmark,
bookmark-tabs bookmark_tabs,
books books,
boom boom,
boot boot,
bouquet bouquet,
bow bow,
bowling bowling,
bowtie bowtie,
boy boy,
bread bread,
bride-with-veil bride_with_veil,
bridge-at-night bridge_at_night,
briefcase briefcase,
broken-heart broken_heart,
bug bug,
bulb bulb,
bullettrain-front bullettrain_front,
bullettrain-side bullettrain_side,
bus bus,
busstop busstop,
bust-in-silhouette bust_in_silhouette,
busts-in-silhouette busts_in_silhouette,
cactus cactus,
cake cake,
calendar calendar,
calling calling,
camel camel,
camera camera,
cancer cancer,
candy candy,
capital-abcd capital_abcd,
capricorn capricorn,
car car,
card-index card_index,
carousel-horse carousel_horse,
cat cat,
cat2 cat2,
cd cd,
chart chart,
chart-with-downwards-trend chart_with_downwards_trend,
chart-with-upwards-trend chart_with_upwards_trend,
checkered-flag checkered_flag,
cherries cherries,
cherry-blossom cherry_blossom,
chestnut chestnut,
chicken chicken,
children-crossing children_crossing,
chocolate-bar chocolate_bar,
christmas-tree christmas_tree,
church church,
cinema cinema,
circus-tent circus_tent,
city-sunrise city_sunrise,
city-sunset city_sunset,
cl cl,
clap clap,
clapper clapper,
clipboard clipboard,
clock1 clock1,
clock10 clock10,
clock1030 clock1030,
clock11 clock11,
clock1130 clock1130,
clock12 clock12,
clock1230 clock1230,
clock130 clock130,
clock2 clock2,
clock230 clock230,
clock3 clock3,
clock330 clock330,
clock4 clock4,
clock430 clock430,
clock5 clock5,
clock530 clock530,
clock6 clock6,
clock630 clock630,
clock7 clock7,
clock730 clock730,
clock8 clock8,
clock830 clock830,
clock9 clock9,
clock930 clock930,
closed-book closed_book,
closed-lock-with-key closed_lock_with_key,
closed-umbrella closed_umbrella,
cloud cloud,
clubs clubs,
cn cn,
cocktail cocktail,
coffee coffee,
cold-sweat cold_sweat,
collision collision,
computer computer,
confetti-ball confetti_ball,
confounded confounded,
confused confused,
congratulations congratulations,
construction construction,
construction-worker construction_worker,
convenience-store convenience_store,
cookie cookie,
cool cool,
cop cop,
copyright copyright,
corn corn,
couple couple,
couple-with-heart couple_with_heart,
couplekiss couplekiss,
cow cow,
cow2 cow2,
credit-card credit_card,
crescent-moon crescent_moon,
crocodile crocodile,
crossed-flags crossed_flags,
crown crown,
cry cry,
crying-cat-face crying_cat_face,
crystal-ball crystal_ball,
cupid cupid,
curly-loop curly_loop,
currency-exchange currency_exchange,
curry curry,
custard custard,
customs customs,
cyclone cyclone,
dancer dancer,
dancers dancers,
dango dango,
dart dart,
dash dash,
date date,
de de,
deciduous-tree deciduous_tree,
department-store department_store,
diamond-shape-with-a-dot-inside diamond_shape_with_a_dot_inside,
diamonds diamonds,
disappointed disappointed,
disappointed-relieved disappointed_relieved,
dizzy dizzy,
dizzy-face dizzy_face,
do-not-litter do_not_litter,
dog dog,
dog2 dog2,
dollar dollar,
dolls dolls,
dolphin dolphin,
door door,
doughnut doughnut,
dragon dragon,
dragon-face dragon_face,
dress dress,
dromedary-camel dromedary_camel,
droplet droplet,
dvd dvd,
e-mail e_mail,
ear ear,
ear-of-rice ear_of_rice,
earth-africa earth_africa,
earth-americas earth_americas,
earth-asia earth_asia,
egg egg,
eggplant eggplant,
eight eight,
eight-pointed-black-star eight_pointed_black_star,
eight-spoked-asterisk eight_spoked_asterisk,
electric-plug electric_plug,
elephant elephant,
email email,
end end,
envelope envelope,
envelope-with-arrow envelope_with_arrow,
es es,
euro euro,
european-castle european_castle,
european-post-office european_post_office,
evergreen-tree evergreen_tree,
exclamation exclamation,
expressionless expressionless,
eyeglasses eyeglasses,
eyes eyes,
facepunch facepunch,
factory factory,
fallen-leaf fallen_leaf,
family family,
fast-forward fast_forward,
fax fax,
fearful fearful,
feelsgood feelsgood,
feet feet,
ferris-wheel ferris_wheel,
file-folder file_folder,
finnadie finnadie,
fire fire,
fire-engine fire_engine,
fireworks fireworks,
first-quarter-moon first_quarter_moon,
first-quarter-moon-with-face first_quarter_moon_with_face,
fish fish,
fish-cake fish_cake,
fishing-pole-and-fish fishing_pole_and_fish,
fist fist,
five five,
flags flags,
flashlight flashlight,
floppy-disk floppy_disk,
flower-playing-cards flower_playing_cards,
flushed flushed,
foggy foggy,
football football,
footprints footprints,
fork-and-knife fork_and_knife,
fountain fountain,
four four,
four-leaf-clover four_leaf_clover,
fr fr,
free free,
fried-shrimp fried_shrimp,
fries fries,
frog frog,
frowning frowning,
fu fu,
fuelpump fuelpump,
full-moon full_moon,
full-moon-with-face full_moon_with_face,
game-die game_die,
gb gb,
gem gem,
gemini gemini,
ghost ghost,
gift gift,
gift-heart gift_heart,
girl girl,
globe-with-meridians globe_with_meridians,
goat goat,
goberserk goberserk,
godmode godmode,
golf golf,
grapes grapes,
green-apple green_apple,
green-book green_book,
green-heart green_heart,
grey-exclamation grey_exclamation,
grey-question grey_question,
grimacing grimacing,
grin grin,
grinning grinning,
guardsman guardsman,
guitar guitar,
gun gun,
haircut haircut,
hamburger hamburger,
hammer hammer,
hamster hamster,
hand hand,
handbag handbag,
hankey hankey,
hash hash,
hatched-chick hatched_chick,
hatching-chick hatching_chick,
headphones headphones,
hear-no-evil hear_no_evil,
heart heart,
heart-decoration heart_decoration,
heart-eyes heart_eyes,
heart-eyes-cat heart_eyes_cat,
heartbeat heartbeat,
heartpulse heartpulse,
hearts hearts,
heavy-check-mark heavy_check_mark,
heavy-division-sign heavy_division_sign,
heavy-dollar-sign heavy_dollar_sign,
heavy-exclamation-mark heavy_exclamation_mark,
heavy-minus-sign heavy_minus_sign,
heavy-multiplication-x heavy_multiplication_x,
heavy-plus-sign heavy_plus_sign,
helicopter helicopter,
herb herb,
hibiscus hibiscus,
high-brightness high_brightness,
high-heel high_heel,
hocho hocho,
honey-pot honey_pot,
honeybee honeybee,
horse horse,
horse-racing horse_racing,
hospital hospital,
hotel hotel,
hotsprings hotsprings,
hourglass hourglass,
hourglass-flowing-sand hourglass_flowing_sand,
house house,
house-with-garden house_with_garden,
hurtrealbad hurtrealbad,
hushed hushed,
ice-cream ice_cream,
icecream icecream,
id id,
ideograph-advantage ideograph_advantage,
imp imp,
inbox-tray inbox_tray,
incoming-envelope incoming_envelope,
information-desk-person information_desk_person,
information-source information_source,
innocent innocent,
interrobang interrobang,
iphone iphone,
it it,
izakaya-lantern izakaya_lantern,
jack-o-lantern jack_o_lantern,
japan japan,
japanese-castle japanese_castle,
japanese-goblin japanese_goblin,
japanese-ogre japanese_ogre,
jeans jeans,
joy joy,
joy-cat joy_cat,
jp jp,
key key,
keycap-ten keycap_ten,
kimono kimono,
kiss kiss,
kissing kissing,
kissing-cat kissing_cat,
kissing-closed-eyes kissing_closed_eyes,
kissing-heart kissing_heart,
kissing-smiling-eyes kissing_smiling_eyes,
koala koala,
koko koko,
kr kr,
lantern lantern,
large-blue-circle large_blue_circle,
large-blue-diamond large_blue_diamond,
large-orange-diamond large_orange_diamond,
last-quarter-moon last_quarter_moon,
last-quarter-moon-with-face last_quarter_moon_with_face,
laughing laughing,
leaves leaves,
ledger ledger,
left-luggage left_luggage,
left-right-arrow left_right_arrow,
leftwards-arrow-with-hook leftwards_arrow_with_hook,
lemon lemon,
leo leo,
leopard leopard,
libra libra,
light-rail light_rail,
link link,
lips lips,
lipstick lipstick,
lock lock,
lock-with-ink-pen lock_with_ink_pen,
lollipop lollipop,
loop loop,
loudspeaker loudspeaker,
love-hotel love_hotel,
love-letter love_letter,
low-brightness low_brightness,
m m,
mag mag,
mag-right mag_right,
mahjong mahjong,
mailbox mailbox,
mailbox-closed mailbox_closed,
mailbox-with-mail mailbox_with_mail,
mailbox-with-no-mail mailbox_with_no_mail,
man man,
man-with-gua-pi-mao man_with_gua_pi_mao,
man-with-turban man_with_turban,
mans-shoe mans_shoe,
maple-leaf maple_leaf,
mask mask,
massage massage,
meat-on-bone meat_on_bone,
mega mega,
melon melon,
memo memo,
mens mens,
metal metal,
metro metro,
microphone microphone,
microscope microscope,
milky-way milky_way,
minibus minibus,
minidisc minidisc,
mobile-phone-off mobile_phone_off,
money-with-wings money_with_wings,
moneybag moneybag,
monkey monkey,
monkey-face monkey_face,
monorail monorail,
moon moon,
mortar-board mortar_board,
mount-fuji mount_fuji,
mountain-bicyclist mountain_bicyclist,
mountain-cableway mountain_cableway,
mountain-railway mountain_railway,
mouse mouse,
mouse2 mouse2,
movie-camera movie_camera,
moyai moyai,
muscle muscle,
mushroom mushroom,
musical-keyboard musical_keyboard,
musical-note musical_note,
musical-score musical_score,
mute mute,
nail-care nail_care,
name-badge name_badge,
neckbeard neckbeard,
necktie necktie,
negative-squared-cross-mark negative_squared_cross_mark,
neutral-face neutral_face,
new new,
new-moon new_moon,
new-moon-with-face new_moon_with_face,
newspaper newspaper,
ng ng,
nine nine,
no-bell no_bell,
no-bicycles no_bicycles,
no-entry no_entry,
no-entry-sign no_entry_sign,
no-good no_good,
no-mobile-phones no_mobile_phones,
no-mouth no_mouth,
no-pedestrians no_pedestrians,
no-smoking no_smoking,
non-potable-water non_potable_water,
nose nose,
notebook notebook,
notebook-with-decorative-cover notebook_with_decorative_cover,
notes notes,
nut-and-bolt nut_and_bolt,
o o,
o2 o2,
ocean ocean,
octocat octocat,
octopus octopus,
oden oden,
office office,
ok ok,
ok-hand ok_hand,
ok-woman ok_woman,
older-man older_man,
older-woman older_woman,
on on,
oncoming-automobile oncoming_automobile,
oncoming-bus oncoming_bus,
oncoming-police-car oncoming_police_car,
oncoming-taxi oncoming_taxi,
one one,
open-book open_book,
open-file-folder open_file_folder,
open-hands open_hands,
open-mouth open_mouth,
ophiuchus ophiuchus,
orange-book orange_book,
outbox-tray outbox_tray,
ox ox,
package package,
page-facing-up page_facing_up,
page-with-curl page_with_curl,
pager pager,
palm-tree palm_tree,
panda-face panda_face,
paperclip paperclip,
parking parking,
part-alternation-mark part_alternation_mark,
partly-sunny partly_sunny,
passport-control passport_control,
paw-prints paw_prints,
peach peach,
pear pear,
pencil pencil,
pencil2 pencil2,
penguin penguin,
pensive pensive,
performing-arts performing_arts,
persevere persevere,
person-frowning person_frowning,
person-with-blond-hair person_with_blond_hair,
person-with-pouting-face person_with_pouting_face,
phone phone,
pig pig,
pig2 pig2,
pig-nose pig_nose,
pill pill,
pineapple pineapple,
pisces pisces,
pizza pizza,
point-down point_down,
point-left point_left,
point-right point_right,
point-up point_up,
point-up-2 point_up_2,
police-car police_car,
poodle poodle,
poop poop,
post-office post_office,
postal-horn postal_horn,
postbox postbox,
potable-water potable_water,
pouch pouch,
poultry-leg poultry_leg,
pound pound,
pouting-cat pouting_cat,
pray pray,
princess princess,
punch punch,
purple-heart purple_heart,
purse purse,
pushpin pushpin,
put-litter-in-its-place put_litter_in_its_place,
question question,
rabbit rabbit,
rabbit2 rabbit2,
racehorse racehorse,
radio radio,
radio-button radio_button,
rage rage,
rage1 rage1,
rage2 rage2,
rage3 rage3,
rage4 rage4,
railway-car railway_car,
rainbow rainbow,
raised-hand raised_hand,
raised-hands raised_hands,
raising-hand raising_hand,
ram ram,
ramen ramen,
rat rat,
recycle recycle,
red-car red_car,
red-circle red_circle,
registered registered,
relaxed relaxed,
relieved relieved,
repeat repeat,
repeat-one repeat_one,
restroom restroom,
revolving-hearts revolving_hearts,
rewind rewind,
ribbon ribbon,
rice rice,
rice-ball rice_ball,
rice-cracker rice_cracker,
rice-scene rice_scene,
ring ring,
rocket rocket,
roller-coaster roller_coaster,
rooster rooster,
rose rose,
rotating-light rotating_light,
round-pushpin round_pushpin,
rowboat rowboat,
ru ru,
rugby-football rugby_football,
runner runner,
running running,
running-shirt-with-sash running_shirt_with_sash,
sa sa,
sagittarius sagittarius,
sailboat sailboat,
sake sake,
sandal sandal,
santa santa,
satellite satellite,
satisfied satisfied,
saxophone saxophone,
school school,
school-satchel school_satchel,
scissors scissors,
scorpius scorpius,
scream scream,
scream-cat scream_cat,
scroll scroll,
seat seat,
secret secret,
see-no-evil see_no_evil,
seedling seedling,
seven seven,
shaved-ice shaved_ice,
sheep sheep,
shell shell,
ship ship,
shipit shipit,
shirt shirt,
shit shit,
shoe shoe,
shower shower,
signal-strength signal_strength,
six six,
six-pointed-star six_pointed_star,
ski ski,
skull skull,
sleeping sleeping,
sleepy sleepy,
slot-machine slot_machine,
small-blue-diamond small_blue_diamond,
small-orange-diamond small_orange_diamond,
small-red-triangle small_red_triangle,
small-red-triangle-down small_red_triangle_down,
smile smile,
smile-cat smile_cat,
smiley smiley,
smiley-cat smiley_cat,
smiling-imp smiling_imp,
smirk smirk,
smirk-cat smirk_cat,
smoking smoking,
snail snail,
snake snake,
snowboarder snowboarder,
snowflake snowflake,
snowman snowman,
sob sob,
soccer soccer,
soon soon,
sos sos,
sound sound,
space-invader space_invader,
spades spades,
spaghetti spaghetti,
sparkle sparkle,
sparkler sparkler,
sparkles sparkles,
sparkling-heart sparkling_heart,
speak-no-evil speak_no_evil,
speaker speaker,
speech-balloon speech_balloon,
speedboat speedboat,
squirrel squirrel,
star star,
star2 star2,
stars stars,
station station,
statue-of-liberty statue_of_liberty,
steam-locomotive steam_locomotive,
stew stew,
straight-ruler straight_ruler,
strawberry strawberry,
stuck-out-tongue stuck_out_tongue,
stuck-out-tongue-closed-eyes stuck_out_tongue_closed_eyes,
stuck-out-tongue-winking-eye stuck_out_tongue_winking_eye,
sun-with-face sun_with_face,
sunflower sunflower,
sunglasses sunglasses,
sunny sunny,
sunrise sunrise,
sunrise-over-mountains sunrise_over_mountains,
surfer surfer,
sushi sushi,
suspect suspect,
suspension-railway suspension_railway,
sweat sweat,
sweat-drops sweat_drops,
sweat-smile sweat_smile,
sweet-potato sweet_potato,
swimmer swimmer,
symbols symbols,
syringe syringe,
tada tada,
tanabata-tree tanabata_tree,
tangerine tangerine,
taurus taurus,
taxi taxi,
tea tea,
telephone telephone,
telephone-receiver telephone_receiver,
telescope telescope,
tennis tennis,
tent tent,
thought-balloon thought_balloon,
three three,
thumbsdown thumbsdown,
thumbsup thumbsup,
ticket ticket,
tiger tiger,
tiger2 tiger2,
tired-face tired_face,
tm tm,
toilet toilet,
tokyo-tower tokyo_tower,
tomato tomato,
tongue tongue,
top top,
tophat tophat,
tractor tractor,
traffic-light traffic_light,
train train,
train2 train2,
tram tram,
triangular-flag-on-post triangular_flag_on_post,
triangular-ruler triangular_ruler,
trident trident,
triumph triumph,
trolleybus trolleybus,
trollface trollface,
trophy trophy,
tropical-drink tropical_drink,
tropical-fish tropical_fish,
truck truck,
trumpet trumpet,
tshirt tshirt,
tulip tulip,
turtle turtle,
tv tv,
twisted-rightwards-arrows twisted_rightwards_arrows,
two two,
two-hearts two_hearts,
two-men-holding-hands two_men_holding_hands,
two-women-holding-hands two_women_holding_hands,
u5272 u5272,
u5408 u5408,
u55b6 u55b6,
u6307 u6307,
u6708 u6708,
u6709 u6709,
u6e80 u6e80,
u7121 u7121,
u7533 u7533,
u7981 u7981,
u7a7a u7a7a,
uk uk,
umbrella umbrella,
unamused unamused,
underage underage,
unicode unicode,
unlock unlock,
up up,
us us,
v v,
vertical-traffic-light vertical_traffic_light,
vhs vhs,
vibration-mode vibration_mode,
video-camera video_camera,
video-game video_game,
violin violin,
virgo virgo,
volcano volcano,
vs vs,
walking walking,
waning-crescent-moon waning_crescent_moon,
waning-gibbous-moon waning_gibbous_moon,
warning warning,
watch watch,
water-buffalo water_buffalo,
watermelon watermelon,
wave wave,
wavy-dash wavy_dash,
waxing-crescent-moon waxing_crescent_moon,
waxing-gibbous-moon waxing_gibbous_moon,
wc wc,
weary weary,
wedding wedding,
whale whale,
whale2 whale2,
wheelchair wheelchair,
white-check-mark white_check_mark,
white-circle white_circle,
white-flower white_flower,
white-large-square white_large_square,
white-medium-small-square white_medium_small_square,
white-medium-square white_medium_square,
white-small-square white_small_square,
white-square-button white_square_button,
wind-chime wind_chime,
wine-glass wine_glass,
wink wink,
wolf wolf,
woman woman,
womans-clothes womans_clothes,
womans-hat womans_hat,
womens womens,
worried worried,
wrench wrench,
x x,
yellow-heart yellow_heart,
yen yen,
yum yum,
zap zap,
zero zero,
zzz zzz;

$emoji-size: 16px;

.emoji {
  @extend %image-replacement;
  display: inline-block;
  background-position: center center;
  background-size: $emoji-size $emoji-size;
  height: $emoji-size;
  width: $emoji-size;
}

@each $emoji, $file in $emoji-list {

  %emoji-#{$emoji} {
    background-image: url("/images/emoji/#{$file}.png")
  } // .emoji-$name

} // @each
